body{
    font-size: 20px;
    padding: 1.25rem;
    --col-length: 8vw;
}

svg {
    width: 1.5rem;
    display: inline-block;
}

button{
    border: none;
    background-color: transparent;
    padding-top: 0.2rem;
}

button:focus{
    outline: none;
}

button:hover{
    cursor: pointer;
}

nav{
    width: 98vw;
    
}

#nav-form{
    display: grid;
    grid-template-areas: 
    'main-nav'
    'mini-nav';
}

#main-nav{
    grid-area: main-nav;
    display: grid;
    grid-template-columns: 9rem 9rem 9rem 9rem 9rem 9rem 9rem auto auto 9rem 9rem 9rem;
    grid-template-rows: 2.5rem;
}

#a-logo{
    grid-column: 1 / 2;
    padding-top: 0.25rem;
}

#google-logo{
    width: 6rem;
}

#search-bar{
    grid-column: 2 / 7;
    border: 1px solid lightgray;
    border-radius: 25px;
}

#search-bar:hover{
   box-shadow : 0 1px 6px 0 rgba(32,33,36,0.28);
}

#search-box{
    padding-left: 1rem;
}

#search-input{
    position: absolute;
    width: 37rem;
    height: 2.3rem;
    border: none;
    padding-top: 0;
}

#search-input:focus{
    outline: none;
}

#search-box button{
    margin-top: 0.15rem;
}

#voice{
    margin-left: 38.5rem;
}

#search-submit{
    width: 2rem;
    fill: rgb(66, 133, 244);
}

#user-info{
    grid-column: 12 / 13;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#user-image {
    width: 2rem;
    border-radius: 50%;
    padding: 0.25rem;
}

#app-svg{
    margin-top: 0.1rem;
    padding: 0.25rem;
}


#user-image:hover, #app-svg:hover{
    /*background-color : rgba(32,33,36,0.28);*/
    background-color: lightgray;
    border-radius: 50%;
}


#mini-nav{
    grid-area: mini-nav;
}