body{
    font-size: 20px;
    font-family: Arial, Sans Serif;
    text-decoration: none;
}

svg {
    width: 1.5rem;
    display: inline-block;
}

button{
    border: none;
    background-color: transparent;
    padding-top: 0.2rem;
}

button:focus{
    outline: none;
}

button:hover{
    cursor: pointer;
}

p{
    margin: 0;
}

nav{
    padding: 1.25rem 1.25rem 0 1.25rem;
    width: 98.25%;
    border-bottom: 1px solid lightgray;
}

#nav-form{
    display: grid;
    grid-template-areas: 
    'main-nav'
    'mini-nav';
}

#main-nav{
    grid-area: main-nav;
    display: grid;
    grid-template-columns: 9rem 9rem 9rem 9rem 9rem 9rem 9rem auto auto 9rem 9rem 9rem;
    grid-template-rows: 2.5rem;
}

#a-logo{
    grid-column: 1 / 2;
    padding-top: 0.25rem;
}

#google-logo{
    width: 6rem;
}

#search-bar{
    grid-column: 2 / 7;
    border: 1px solid lightgray;
    border-radius: 25px;
}

#search-bar:hover{
   box-shadow : 0 1px 6px 0 rgba(32,33,36,0.28);
}

#search-box{
    padding-left: 1rem;
}

#search-input{
    position: absolute;
    width: 37rem;
    height: 2.3rem;
    border: none;
    padding-top: 0;
}

#search-input:focus{
    outline: none;
}

#search-box button{
    margin-top: 0.15rem;
}

#voice{
    margin-left: 38.5rem;
}

#search-submit{
    width: 2rem;
    fill: rgb(66, 133, 244);
}

#user-info{
    grid-column: 12 / 13;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#user-image {
    width: 2rem;
    border-radius: 50%;
    padding: 0.25rem;
}

#app-svg{
    margin-top: 0.1rem;
    padding: 0.25rem;
}


#user-image:hover, #app-svg:hover{
    /*background-color : rgba(32,33,36,0.28);*/
    background-color: lightgray;
    border-radius: 50%;
}


#mini-nav{
    grid-area: mini-nav;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
    align-content: center;
    height: 2.5rem;
    margin-top: 1rem;
    margin-left: 10rem;
    width: 43rem;
}

.current-nav{
    border-bottom: 3px solid #1a73e8;
}

.current-nav>a>span{
    color: #1a73e8;
}

.mini-nav-item{
    margin-top: 0.75rem;
    font-size: 0.85rem;
    height: 1.75rem;
}

.mini-nav-item a{
    text-decoration: none;
    color: #5f6368;
    margin-left: 0.5rem;
}

.mini-svg{
    fill:  #5f6368;
    width: 0.85rem;
}

#nav-all{
    grid-column: 1/2;
}

#nav-news{
    grid-column: 2/3;
}

#nav-maps{
    grid-column: 3/4;
}

#nav-videos{
    grid-column: 4/5;
}

#nav-shopping{
    grid-column: 5/6;
}

#nav-more{
    grid-column: 6/7;
}

#nav-settings{
    grid-column: 10/11;
}

#nav-tools{
    grid-column: 11/12;
}

.results-body{
    width: 100rem;
    margin-left: 11rem;
    padding: 1rem;
}

#results-numbers{
    color: #70757a;
    font-size: 14px;
}

#results-container{
    margin-top: 1.5rem;
    width: 43rem;
}

.result{
    margin-bottom: 1.5rem;
}

.link{
    text-decoration: none;
}

.result-address{
    color: #202124;
    font-size: 14px;
}

.ad{
    font-weight: bold;
}

.dot{
    line-height: 1.58;
    font-size: 1rem;
    font-weight: bold;
}

.result-title{
    display: block;
    margin-top: 0.5rem;
    color: #1a3bc1;
}

.result-title:hover{
    text-decoration: underline;
}

.result-description{
    margin: 0.5rem 0;
    color: #4d5156;
    font-size: 14px;
    line-height: 1.58;
}

#related{
    width: 50rem;
}

#related-searches{
    font-size: 14px;
    display: grid;
    grid-template-areas: 'one two';
}

.related-link{
    margin-bottom: 0.35rem;
}

.related-link a, #related-link a:hover{
    text-decoration: none;
    color: #1a0dab;
}

#row-one{
    grid-area: one;
}

#row-two{
    grid-area: two;
}

footer{
    margin-top: 1.5rem;
    width: 43rem;
}